<section class="signup__area po-rel-z1 pt-100 pb-145">
   <div class="sign__shape">
     <img class="man-1" src="assets/img/icon/sign/man-3.png" alt="">
     <img class="man-2 man-22" src="assets/img/icon/sign/man-2.png" alt="">
     <img class="circle" src="assets/img/icon/sign/circle.png" alt="">
     <img class="zigzag" src="assets/img/icon/sign/zigzag.png" alt="">
     <img class="dot" src="assets/img/icon/sign/dot.png" alt="">
     <img class="bg" src="assets/img/icon/sign/sign-up.png" alt="">
     <img class="flower" src="assets/img/icon/sign/flower.png" alt="">
   </div>
   <div class="container">
     <div class="row">
       <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
         <div class="section__title-wrapper text-center mb-55">
           <h2 class="section__title">Create a free <br> Account</h2>
           <p>Register to access enterprise learning tools tailored for your organization.</p>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
         <div class="sign__wrapper white-bg">
           <div class="sign__form">
            
             <form (ngSubmit)="onSubmit()" #form="ngForm">
               <div class="sign__input-wrapper mb-25">
                  <h5>Username</h5>
                  <div class="sign__input">
                    <input type="text" name="username" [(ngModel)]="registerData.username" placeholder="Username" required>
                    <i class="fal fa-user"></i>
                  </div>
                </div>
                
               <div class="sign__input-wrapper mb-25">
                 <h5>First Name</h5>
                 <div class="sign__input">
                   <input type="text" name="firstName" [(ngModel)]="registerData.firstName" placeholder="First name" required>
                   <i class="fal fa-user"></i>
                 </div>
               </div>
 
               <div class="sign__input-wrapper mb-25">
                 <h5>Last Name</h5>
                 <div class="sign__input">
                   <input type="text" name="lastName" [(ngModel)]="registerData.lastName" placeholder="Last name" required>
                   <i class="fal fa-user"></i>
                 </div>
               </div>
 
               <div class="sign__input-wrapper mb-25">
                 <h5>Email</h5>
                 <div class="sign__input">
                   <input type="email" name="email" [(ngModel)]="registerData.email" placeholder="e-mail address" required>
                   <i class="fal fa-envelope"></i>
                 </div>
               </div>
 
               <div class="sign__input-wrapper mb-25">
                 <h5>Phone</h5>
                 <div class="sign__input">
                   <input type="text" name="phone" [(ngModel)]="registerData.phone" placeholder="Phone number" required>
                   <i class="fal fa-phone"></i>
                 </div>
               </div>
 
               <div class="sign__input-wrapper mb-25">
                 <h5>Password</h5>
                 <div class="sign__input">
                   <input type="password" name="password" [(ngModel)]="registerData.password" placeholder="Password" required>
                   <i class="fal fa-lock"></i>
                 </div>
               </div>
 
               <div class="sign__input-wrapper mb-10">
                 <h5>Confirm Password</h5>
                 <div class="sign__input">
                   <input type="password" name="confirmPassword" [(ngModel)]="registerData.confirmPassword" placeholder="Re-Password" required>
                   <i class="fal fa-lock"></i>
                 </div>
               </div>
 
               <div class="sign__action d-flex justify-content-between mb-30">
                 <div class="sign__agree d-flex align-items-center">
                   <input class="m-check-input" type="checkbox" id="m-agree" required>
                   <label class="m-check-label" for="m-agree">
                     I agree to the <a href="#">Terms & Conditions</a>
                   </label>
                 </div>
               </div>
 
               <button type="submit" class="e-btn w-100"> <span></span> Sign Up</button>
 
               <div class="sign__new text-center mt-20">
                 <p>Already on V-Learn? <a [routerLink]="['/sign-in']">Sign In</a></p>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 