.swiper-slide {
    background-color: #f0f0f0;
  }
  .slider__title {
    font-size: 52px;
    font-weight: 700;
  }
  
  .slider__content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  