.student-sidebar {
  width: 220px;
  background-color: #111827;
  min-height: 70vh;
  position: fixed;
  top: 70px; // adjust if header height changes
  left: 0;
  z-index: 1000;
  color: white;
  opacity: 10;
  .nav-link {
    padding: 12px 20px;
    font-size: 15px;
    color: white;

    &:hover {
      background-color: #1f2937;
      color: white;
    }

    &.active {
      background-color: #2563eb;
    }
  }
}
